 a{display:inline-block; color:#333; cursor:pointer; transition:all .2s;}
    a:hover{cursor:pointer; color:#348fd6; text-decoration:none;}   
    
    h1.tooltip {position: relative;cursor: pointer;}   
    h1.tooltip:hover span {opacity: 1;visibility: visible;}
    h1.tooltip span{padding: 10px;top: 40px;left:112px;min-width: 75px;max-width: 430px;background-color: #000000;color: #FFFFFF;height: auto;border-radius: 5px;opacity: 0;position: absolute;visibility: hidden;word-wrap: break-word;font-size: 12px;z-index: 10000;
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
    } 
    .logo1{float:left; margin-left:-10px; position:relative; z-index:89;}

    .breadcrumb{font-size:12px; padding:10px 0;}
    .breadcrumb li{display:inline-block;}
    .breadcrumb li a{color:#999; text-decoration:none;}  
    .breadcrumb li a:hover{color:#348fd6;}
    .breadcrumb>li+li:before{color:#b7b7b7; padding:0 5px; content:"/\00a0";}  

    .button a, .button, button.btn{display:inline-block; color:#fff; cursor:pointer; text-decoration:none; font-size:14px; padding:7px 15px 8px; border:0; border-radius:2px; background:#fd6c73; transition:all .2s;}
    .button a:hover, .button:hover, button.btn:hover, .addmissionBlock a:hover{background:#e2575e;}
   
@media screen and (min-width:1025px){
    
    header{box-shadow:0px 0px 13px rgba(0, 0 ,0, .2);}
    header .dataContent{position:relative; padding-left:15px; padding-right:15px;}
    header .searchContent{height:100vh;}
    header .close{right:26px; top:30px;}
    .overflowHide header .container > .search{opacity:0;}
    header .dataContent{height:100%; background:#fff;}
    .overflowHide{padding-right:15px}
    header .searchContent h4{font-size:26px;}
    nav{padding:9px 110px 0 0; text-align:right; position:relative;}
    button.menu{display:none} 
    nav > ul{white-space:nowrap; background:#fff; margin:0;}
    nav h5{margin:0 0 8px;font-size:14px; text-transform:uppercase;}
    nav h5 a{color:#333; text-decoration:none;}
    nav > ul > li{display:inline-block;}
    nav .nav-link{padding:22px 18px; font-size:15px; position:relative;}
    nav .nav-link:after{content:""; position:absolute; right:0; top:32px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-top:4px solid #333;}
    nav > ul > li:hover .nav-link{color:#333;}
    nav > ul > li .nav-link:hover:after, nav > ul > li:hover > .nav-link:after{border-top:4px solid #2a699a;}
    nav > ul > li .subLink{visibility:hidden; white-space:normal; opacity:0; text-align:left; transform:translateY(-1em); transition:all 0.15s ease-in-out .1s, visibility .1s linear 0.1s, z-index .1s linear 0.1s; box-shadow:0 4px 3px rgba(0, 0, 0, .15);}
    nav > ul > li:hover .subLink{visibility:visible; opacity:1; transform:translateY(0%); transition-delay:0s, 0s, 0.2s; z-index:99;}
    nav .subLink{width:100%; position:absolute; left:0; top:76px; padding:5px 10px 15px 10px; font-size:14px; background:#fff; z-index:77;}
    nav .subLink li > a{display:block; color:#333; padding:3px 0; text-decoration:none; transition:all .2s;}
    nav .subLink li > a:hover{cursor:pointer;} 

} 
     
    @media (max-width: 1024px){
        .logo1{margin-left:30px;}
    } 
    @media (max-width: 640px){ 
    .breadcrumb > li + li:before{padding:0 1px;}
    } 

    @media screen and (max-width:480px){ 
    .breadcrumb{font-size:12px;overflow-x:auto; white-space:nowrap;} 
    }
    @media screen and (max-width:480px){ 
    .breadcrumb{font-size:12px;}
    }
    @media (max-width: 420px){  
    .logo1{width: 146px;}   
    } 